body{
    margin: 0px;

}

ul{
    list-style: none;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 55px;
    border-bottom: solid 1px rgba(219,219,219,1);
    font-size: 0px;
    
}
a{
    text-decoration: none;
    border-radius:4px;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
.recomendation {
    color: rgba(0, 0, 13, 0.36);
    margin-top: 62px;
    font-size: 13px;
    position: fixed;
}
.chto-to{
    margin-left: 85px;
    position: fixed;
    margin-top: 27px;
    font-size: 12px;
    color: rgba(32, 0, 33, 0.4);
}
.people_in_rec{
    margin-left: 50px;
    position: fixed;
    margin-top: 76px;
    font-size: 13px;
    float: top;
    color: rgba(11, 16, 19, 0.84);
}
.people_in_rec_img{
    position: fixed;
    margin-top: 95px;
}
.about_people_in_rec{
    margin-left: 50px;
    position: fixed;
    margin-top: 95px;
    font-size: 11px;
    color: rgba(32, 0, 33, 0.4);
}
.people_in_rec_2{
    margin-left: 50px;
    position: fixed;
    margin-top: 130px;
    font-size: 13px;
    float: top;
    color: rgba(11, 16, 19, 0.84);
}
.people_in_rec_img_2{
    position: fixed;
    margin-top: 140px;
}
.about_people_in_rec_2{
    margin-left: 50px;
    position: fixed;
    margin-top: 151px;
    font-size: 11px;
    color: rgba(32, 0, 33, 0.4);
}
.subscribe_2{
    float: right;
    margin-top: 170px;
    position: fixed;
    font-size: 12px;
    color: #0095f6;;
    margin-left: 210px;
}
.people_in_rec_3{
    margin-left: 50px;
    position: fixed;
    margin-top: 200px;
    font-size: 13px;
    float: top;
    color: rgba(11, 16, 19, 0.84);
}
.people_in_rec_img_3{
    position: fixed;
    margin-top: 210px;
}
.about_people_in_rec_3{
    margin-left: 50px;
    position: fixed;
    margin-top: 221px;
    font-size: 11px;
    color: rgba(32, 0, 33, 0.4);
}
.subscribe_3{
    float: right;
    margin-top: 230px;
    position: fixed;
    font-size: 12px;
    color: #0095f6;;
    margin-left: 210px;
}
.people_in_rec_4{
    margin-left: 50px;
    position: fixed;
    margin-top: 260px;
    font-size: 13px;
    float: top;
    color: rgba(11, 16, 19, 0.84);
}
.people_in_rec_img_4{
    position: fixed;
    margin-top: 270px;
}
.about_people_in_rec_4{
    margin-left: 50px;
    position: fixed;
    margin-top: 281px;
    font-size: 11px;
    color: rgba(32, 0, 33, 0.4);
}
.subscribe_4{
    float: right;
    margin-top: 290px;
    position: fixed;
    font-size: 12px;
    color: #0095f6;;
    margin-left: 210px;
}
.people_in_rec_5{
    margin-left: 50px;
    position: fixed;
    margin-top: 320px;
    font-size: 13px;
    float: top;
    color: rgba(11, 16, 19, 0.84);
}
.people_in_rec_img_5{
    position: fixed;
    margin-top: 330px;
}
.about_people_in_rec_5{
    margin-left: 50px;
    position: fixed;
    margin-top: 341px;
    font-size: 11px;
    color: rgba(32, 0, 33, 0.4);
}
.subscribe_5{
    float: right;
    margin-top: 350px;
    position: fixed;
    font-size: 12px;
    color: #0095f6;;
    margin-left: 210px;
}
.my_name{
    font-size: 14px;
    color: rgba(11, 16, 19, 0.84);
    margin-left: 85px;
    position: fixed;
    margin-top: 20px;
}
.subscribe{
    float: right;
    margin-top: 120px;
    position: fixed;
    font-size: 12px;
    color: #0095f6;;
    margin-left: 210px;
}
.top_menu{
position: fixed;
margin: 0;
    width: 100%;
    height: 40px;
}
.help_field_for_user{
    margin-top: 400px;
    font-size: 13px;
    color: rgba(32, 0, 33, 0.4);
    position: fixed;
    font-size: 11px;
    line-height: 14px;

}
.me_person{
    margin-left: 10px;
    position: fixed;
}
.me{
    /*border: solid 1px rgba(219,219,219,1);*/
    background-color: whitesmoke;
    margin-left: 800px;
    width: 300px;
    height: 800px;
    position: fixed;
    float: top;
    margin-top: 20px;
    line-height: 12px;

}
.logo_img{
    vertical-align: top;
    margin-left: 100px;
}
.home_img{
    margin-left: 160px;
    /*position: fixed;*/
}
.favorite{
    /*position: fixed;*/
}
.location_img{
    /*position: fixed;*/
}
.direct_img{
    margin-top: 10px;
    margin-left: 1px;
    /*position: fixed;*/
}
.round{
    border-radius: 100px;
    border: 3px whitesmoke;
    /*position: fixed;*/
}
.main_background{
    width: 100%;
    height: 1300px;
    background-color: #f6f6f6;
    border: solid 1px rgba(219,219,219,1);
}
.my_people{
    /*box-shadow:0 0 0 3px #DBDBDB, 0 0 0 13px #333;*/
    margin-left: 14px;
    margin-top: 20px;

}
.posts_field{
    background-color: white;
    width: 606px;
    height: 780px;
    border: solid 1px rgba(219,219,219,1);
    margin-left: 160px;
    margin-top: 10px;
}
.post_head{
    margin-top: 5px;
    border-bottom: solid 1px rgba(219,219,219,1);

}
.post_img{
    margin-left: 10px;
    width: 43px;
    margin-right: 0;

}
.post_user_name {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    float: top;
    margin-left: 70px;
    /*position: relative;*/
    top:-50px


}
.post_who_likes{
    margin-left: 10px;
    margin-top: 5px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 8px;

}
.look_more_coment{
    margin-left: 10px;
    margin-top: 5px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: rgba(32, 0, 33, 0.4);
    line-height: 8px;
}
.comments{
    margin-left: 10px;
    margin-top: 5px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 8px;
}
.time_ago{
    margin-left: 10px;
    margin-top: 5px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: rgba(32, 0, 33, 0.4);
    line-height: 8px;
}
.saved_class{
    float: right;
    vertical-align: top;
}
.like_comment{

}
.ui_post{
    margin-left: 10px;
}
.histories{
    background-color: white;
    width: 606px;
    height: 120px;
    border: solid 1px rgba(219,219,219,1);
    margin-left: 160px;
    margin-top: 10px;
}
.histories_people_name{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-left: 20px;
    float: top;
    vertical-align: top;
    margin-top: 0;

}
hr{
    color: #bdbdbd;
    width:initial;
    position: fixed;
}
li{
    float: left;
    margin-right: 30px;

}

.poisk:placeholder-shown{
    font-size: 15px;
}
textarea::placeholder{
    line-height: 200px;

}
.poisk{
    vertical-align: top;
    border: solid 1px #dbdbdb;
    border: solid 1px rgba(219,219,219,1);
    border-radius: 3px;
    color: #262626;
    color: rgba(38,38,38,1);
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index: 2;
    cursor: text;
    font-size: 15px;
    margin-left: 140px;
    background-color: #f6f6f6;
    /*position: fixed;*/
}
body, button, input, textarea {
    color: #262626;
    color: rgba(38,38,38,1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;

}

input{
    /*font: 400 13.3333px Arial;*/
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /*color: -internal-light-dark(black, white);*/
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    /*appearance: textfield;*/
    /*background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));*/
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));*/
    border-image: initial;
}
